@using ToDoListApplication.Models
@model TaskModel
        <div class="row">

            <div class="col-lg-6 col-lg-push-3 task-box" id="@Model.Id">
                <div class="row">
                    @{
                        string status = Model.Status ? "glyphicon-ok" : "glyphicon-remove";
                        <div class="col-xs-1 task-status-div">
                            <span class="glyphicon @status task-status"></span>
                        </div>
                    }
                    <div class="col-xs-10 task-title editer">
                        <input type="text" name="@Model.Id" value="@Model.Title" />
                    </div>
                    <div class="col-xs-1 task-delete editer">
                        <span class="btn-exit editer" data-target="@Model.Id" title="Удалить задание">
                            <span>x</span>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <textarea class="col-xs-12 task-text editer" name="@Model.Id" placeholder="Текст задания">@Model.Text</textarea>
                </div>
                <div class="row">
                    <div class="col-xs-12 task-tags-menu">

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 task-users-menu">

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 task-tools-menu">
                        <div class="btn-group tool-tag-changer">
                            <span data-toggle="dropdown" class="glyphicon dropdown-toggle" data-placeholder="false" ></span>
                            <ul class="dropdown-menu labels-menu bullet editer">
                                @foreach (LabelModel label in ViewBag.LabelsList)
                                {
                                    string index = Model.Id + "_" + label.Id;
                                    string check = "";
                                    if (Model.Labels != null && Model.Labels.Contains(label))
                                    {
                                        check = "checked";
                                    }
                                    <li>
                                        <input type="checkbox" id="@index" data-target="@label.Id" @check /><label for="@index">@label.Text</label>
                                    </li>
                                }
                                <li class="labelAddBtn text-center" data-toggle="modal" data-target=".label-modal">Добавить ярлык <b>+</b></li>
                            </ul>
                        </div>
                        <div class="btn-group tool-user-changer">
                            <span data-toggle="dropdown" class="glyphicon dropdown-toggle" data-placeholder="false"></span>
                            <ul class="dropdown-menu users-menu bullet editer">
                                @foreach (ApplicationUser friend in ViewBag.FriendsList)
                                {
                                    string index = Model.Id + "_" + friend.Id;
                                    string check = "";
                                    if (Model.Users != null && Model.Users.Contains(friend))
                                    {
                                        check = "checked";
                                    }
                                    <li>
                                        <input type="checkbox" id="@index" data-target="@friend.Id" @check><label for="@index">@friend.Email</label>
                                    </li>
                                }
                                <li class="userAddBtn text-center" data-toggle="modal" data-target=".user-modal">Добавить пользователя <b>+</b></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>