@using ToDoListApplication.Models

@model IEnumerable<TaskModel>
@{ 
    ViewBag.Title = "Задания";
 }
@section styles {
    @Styles.Render("~/Content/dropdowns-enhancement.css")
    @Styles.Render("~/Content/Tasks.css")
}

        <div class="row">
            <div class="task-box">
                <div class="row">
                    <div class="col-xs-11 task-title">
                        <input type="text" name="TaskTitle" placeholder="Текст заголовка" />
                    </div>
                    <div class="col-xs-1 task-delete">
                        <span class="glyphicon glyphicon-cloud"></span>
                    </div>
                </div>
                <div class="row">
                    <textarea class="col-xs-12 task-text" name="TaskText" placeholder="Текст задания"></textarea>
                </div>
                <div class="row">
                    <div class="col-xs-12 task-tags-menu">
                        <span class="glyphicon glyphicon-tag pull-right"></span>
                        <span class="glyphicon glyphicon-tag pull-right"></span>
                        <span class="glyphicon glyphicon-tag pull-right"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 task-users-menu">
                        <span class="glyphicon glyphicon-user pull-right"></span>
                        <span class="glyphicon glyphicon-user pull-right"></span>
                        <span class="glyphicon glyphicon-user pull-right"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 task-tools-menu">
                        <div class="btn-group tool-tag-changer">
                            <span data-toggle="dropdown" class="glyphicon dropdown-toggle" data-placeholder="false"></span>
                            <ul class="dropdown-menu labels-menu">
                                @foreach (var label in ViewBag.LabelsList)
                                {
                                    string LabelId = "Label_" + label.Id;
                                    <li><input type="checkbox" id="@LabelId" data-target="@label.Id" /><label for="@LabelId">@label.Name</label></li>
                                }
                            </ul>
                        </div>
                        <div class="btn-group tool-user-changer">
                            <span data-toggle="dropdown" class="glyphicon dropdown-toggle" data-placeholder="false"></span>
                            <ul class="dropdown-menu">
                                @foreach (var label in ViewBag.LabelsList)
                                {
                                    //string index = task.Id + "_" + label.Id;
                                    //string check = task.LabelModel.Contains(label) ? "checked" : "";
                                    //<li><input type="checkbox" id="@index" name="@label.Id" @check><label for="@index">@label.Name</label></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    @foreach (var task in Model)
    {
        <div class="row">

            <div class="col-lg-8 col-lg-push-2 task-box" id="@task.Id">
                <div class="row">
                    <div class="col-xs-11 task-title">
                        <input type="text" name="@task.Id" value="@task.Title" />
                    </div>
                    <div class="col-xs-1 task-delete">
                        <span class="glyphicon glyphicon-cloud"></span>
                    </div>
                </div>
                <div class="row">
                    <textarea class="col-xs-12 task-text" name="@task.Id" placeholder="Текст задания">@task.Text</textarea>
                </div>
                <div class="row">
                    <div class="col-xs-12 task-tags-menu">
                        <span class="glyphicon glyphicon-tag pull-right"></span>
                        <span class="glyphicon glyphicon-tag pull-right"></span>
                        <span class="glyphicon glyphicon-tag pull-right"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 task-users-menu">
                        <span class="glyphicon glyphicon-user pull-right"></span>
                        <span class="glyphicon glyphicon-user pull-right"></span>
                        <span class="glyphicon glyphicon-user pull-right"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 task-tools-menu">
                        <div class="btn-group tool-tag-changer">
                            <span data-toggle="dropdown" class="glyphicon dropdown-toggle" data-placeholder="false" ></span>
                            <ul class="dropdown-menu labels-menu">
                                @foreach (var label in ViewBag.LabelsList)
                                {
                                    string index = task.Id + "_" + label.Id;
                                    string check = task.LabelModel.Contains(label) ? "checked" : "";
                                    <li><input type="checkbox" id="@index" data-target="@label.Id" @check /><label for="@index">@label.Name</label></li>
                                }
                            </ul>
                        </div>
                        <div class="btn-group tool-user-changer">
                            <span data-toggle="dropdown" class="glyphicon dropdown-toggle" data-placeholder="false"></span>
                            <ul class="dropdown-menu">
                                @foreach (var label in ViewBag.LabelsList)
                                {
                                    string index = task.Id + "_" + label.Id;
                                    string check = task.LabelModel.Contains(label) ? "checked" : "";
                                    <li><input type="checkbox" id="@index" name="@label.Id" @check><label for="@index">@label.Name</label></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }

@section scripts {
    
    @Scripts.Render("~/Scripts/dropdowns-enhancement.js")
    @Scripts.Render("~/Scripts/tasks.js")
}
