@using ToDoListApplication.Models
@model IEnumerable<TaskModel>
@{ 
    ViewBag.Title = "Задания";
 }
@section styles {
    @Styles.Render("~/Content/dropdowns-enhancement.css")
    @Styles.Render("~/Content/Tasks.css")
}


    @foreach (var task in Model)
    {
        <div class="row">

            <div class="col-lg-8 col-lg-push-2 task-box" id="@task.Id">
                <div class="row">
                    <div class="col-xs-11 task-title">
                        <input type="text" name="@task.Id" value="@task.Title" />
                    </div>
                    <div class="col-xs-1 task-delete">
                        <span class="glyphicon glyphicon-cloud"></span>
                    </div>
                </div>
                <div class="row">
                    <textarea class="col-xs-12 task-text" name="@task.Id" placeholder="Текст задания">@task.Text</textarea>
                </div>
                <div class="row">
                    <div class="col-xs-12 task-tags-menu">
                        <span class="glyphicon glyphicon-tag pull-right"></span>
                        <span class="glyphicon glyphicon-tag pull-right"></span>
                        <span class="glyphicon glyphicon-tag pull-right"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 task-users-menu">
                        <span class="glyphicon glyphicon-user pull-right"></span>
                        <span class="glyphicon glyphicon-user pull-right"></span>
                        <span class="glyphicon glyphicon-user pull-right"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 task-tools-menu">
                        <div class="btn-group tool-tag-changer">
                            <span data-toggle="dropdown" class="glyphicon dropdown-toggle" data-placeholder="false" ></span>
                            <ul class="dropdown-menu">
                                @foreach (var label in ViewBag.LabelsList)
                                {
                                    string index = task.Id + "_" + label.Id;
                                    string check = task.LabelModel.Contains(label) ? "checked" : "";
                                    <li><input type="checkbox" id="@index" name="@label.Id" @check><label for="@index">@label.Name</label></li>
                                }
                            </ul>
                        </div>
                        <div class="btn-group tool-user-changer">
                            <span data-toggle="dropdown" class="glyphicon dropdown-toggle" data-placeholder="false"></span>
                            <ul class="dropdown-menu">
                                @foreach (var label in ViewBag.LabelsList)
                                {
                                    string index = task.Id + "_" + label.Id;
                                    string check = task.LabelModel.Contains(label) ? "checked" : "";
                                    <li><input type="checkbox" id="@index" name="@label.Id" @check><label for="@index">@label.Name</label></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }

@section scripts {
    
    @Scripts.Render("~/Scripts/dropdowns-enhancement.js")
    @Scripts.Render("~/Scripts/tasks.js")
}

@*
    @foreach (var task in Model)
    {
        <form class="col-lg-8 col-lg-push-2 task-box" style="padding: 0;">
            <input type="text" class="form-control task-title-input" name="@task.Id" value="@task.Title" placeholder="Title" />
            <input type="text" class="form-control task-text-input" name="@task.Id" value="@task.Text" placeholder="Title" />
            <div class="col-lg-12 task-tools-menu">

                <div class="button-group">
                    <button type="button" class="btn btn-xs dropdown-toggle menu-button" data-toggle="dropdown"><img src="~/Content/Icons/Label_plus.png" /></button>
                    <ul class="dropdown-menu">
                        <li role="presentation" class="text-center dropdown-header">Добавить ярлык</li>
                        @foreach (LabelModel label in ViewBag.LabelsList)
                        {
                            string radioChecked = task.LabelModel.Contains(label) ? "checked" : "";

                            <li><a class="small" data-value="@label.Id" tabIndex="-1"><input type="checkbox" name="@task.Id" @radioChecked />@label.Name</a></li>
                        }
                    </ul>
                </div>

            </div>
        </form>
    }
    <div style="width: 200px; height: 200px; background-color: red; display: none;" id="RareBlock">

    </div>

    @section scripts {
        @Scripts.Render("~/Scripts/tasks.js")
        @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
        @Scripts.Render("~/Scripts/bootstrap-select.js")
    }
*@
