@using ToDoListApplication.Models
@model IEnumerable<TaskModel>
@{ 
    ViewBag.Title = "Задания";
 }

@foreach (var task in Model)
{
    <form class="col-lg-8 col-lg-push-2 task-box" style="padding: 0;">
        <input type="text" class="form-control task-title-input" name="@task.Id" value="@task.Title" placeholder="Title" />
        <input type="text" class="form-control task-text-input" name="@task.Id" value="@task.Text" placeholder="Title" />
        <div class="col-lg-12 task-tools-menu">

            <div class="button-group">
                <button type="button" class="btn btn-xs dropdown-toggle menu-button" data-toggle="dropdown"><img src="~/Content/Icons/Label_plus.png" /></button>
                <ul class="dropdown-menu">
                    <li role="presentation" class="text-center dropdown-header">Добавить ярлык</li>
                    @foreach (LabelModel label in ViewBag.LabelsList)
                    {
                        string radioChecked = task.LabelModel.Contains(label) ? "checked" : "";

                        <li><a class="small" data-value="@label.Id" tabIndex="-1"><input type="checkbox" name="@task.Id" @radioChecked />@label.Name</a></li>
                    }
                </ul>
            </div>

        </div>
    </form>
}
<div style="width: 200px; height: 200px; background-color: red; display: none;" id="RareBlock">

</div>

@section scripts {
    @Scripts.Render("~/Scripts/tasks.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Scripts/bootstrap-select.js")
}

